[functions]
  external_node_modules = ["express", "cors","firebase", "dotenv", "serverless-http", "swagger-jsdoc", "swagger-ui-express", "mariadb", "mysql2", "sequelize", ""]
  node_bundler = "esbuild"

[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/:splat"

[build]
  command = "echo Building Functions"